
@media (min-width: 320px) {

.commentsBtn {
    display: inline-flex;
    align-items: center;
}
.commentsBtn svg {
    margin-right: 6px;
}
.commentsBtnText {

}

}
@media (min-width: 1024px) {
.commentsBtn {
    display: none;
}

}
@media (min-width: 1200px) {


}
@media (min-width: 1540px) {

}
